<!DOCTYPE html>
<html >
<head>
    <title>商品</title>
    <!-- bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <!-- navbar -->
    <%- include ("../partials/navbar.ejs") %>

    <div class="container">
        <form id="commodityForm" enctype="multipart/form-data">
            <h3>商品資料</h3>
            <!-- 隱藏id -->
            <input type="text" class="form-control" id="id" value="<%= _id %>" hidden>

            <div class="form-group">
              <label for="photo">圖片:</label>
              <img src="/api/commodity/<%= _id %>/photo" class="rounded d-block" alt="無圖片" id="imgPhoto" width="250" height="250">
              <input type="file" class="form-control-file" id="photo" accept=".jpg, .jpeg, .png">
            </div>
            <div class="form-group">
              <label for="name">商品名稱:</label>
              <input type="text" class="form-control" id="name" value="<%= name %>" required>
            </div>
            <div class="form-group">
              <label for="description">描述:</label>
              <textarea class="form-control" id="description" rows="4" maxlength="3000"><%= description %></textarea>
            </div>
            <div class="form-group">
              <label for="material">材質:</label>
              <input type="text" class="form-control" id="material" value="<%= material %>">
            </div>
            <div class="form-group">
                <label for="price">商品價格:</label>
                <input type="number" class="form-control" id="price" min="1" value="<%= price %>" required>
            </div>
            <div class="form-group">
                <label for="stock">商品數量:</label>
                <input type="number" class="form-control" id="stock" min="0" value="<%= stock %>" required>
            </div>
            <button type="submit" class="btn btn-primary" id="storage">儲存</button>
            <button type="click" class="btn btn-danger" id="delete">刪除商品</button>
        </form>
    </div>

    <!-- packages -->
    <%- include ("../partials/packages.ejs") %>

    <!-- commodityMod.js -->
    <script src="/js/commodityMod.js"></script>

</body>
</html>