<!DOCTYPE html>
<html >
<head>
    <title>商品</title>
    <!-- bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <!-- navbar -->
    <%- include ("../partials/navbar.ejs") %>

    <div class="card mb-3 container">
      <form>
        <img src="/api/commodity/<%= _id %>/photo" class="img-thumbnail rounded mx-auto d-block" alt="無圖片" width="350" height="350">
        <div class="card-body">
          <input type="text" value="<%= _id %>" id="commodityId" hidden>
          <input type="number" value="<%= stock %>" id="stock" hidden>
          <h5 class="card-title text-center">商品名稱: <%= name %></h5>
          <p class="card-text text-center">描述: <%= description %></p>
          <p class="card-text text-center">材質: <%= material %></p>
          <p class="card-text text-center">商品價格: <%= price %></p>
          <div class="form-group card-text text-center">
            <label for="qty">數量:</label>
            <input class="center" type="number" id="qty" min="1" max="<%= stock %>" value="1" aria-describedby="qtyHelpInline" required>
            <small id="qtyHelpInline" class="text-muted">還剩<%= stock %>件</small>
          </div>
          <div class="form-group card-text text-center">
            <button type="button" class="btn btn-primary" id="addCart">加入購物車</button>
            <button type="button" class="btn btn-danger" id="purchase">直接購買</button>
          </div>
        </div>
      </form>
    </div>

  <!-- packages -->
  <%- include ("../partials/packages.ejs") %>

  <!-- commodityOne.js -->
  <script src="/js/commodityOne.js"></script>

</body>
</html>